XpremaProjectPro/XpremaProjectPro/XpremaProjectPro/Service References/XpConnected/XpremaConnector.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="Xpro.xprema.net" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="Xpro.xprema.net" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="Xpro.xprema.net">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAccounts">
        <s:complexType />
      </s:element>
      <s:element name="getAccountsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAccountsResult" type="tns:ArrayOfAccount" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAccount">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Account" nillable="true" type="tns:Account" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Account">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="AccountName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AccountDescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Coin" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AccountNatural" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Transactions" type="tns:ArrayOfTransaction" />
          <s:element minOccurs="0" maxOccurs="1" name="ProjectActivities" type="tns:ArrayOfProjectActivity" />
          <s:element minOccurs="0" maxOccurs="1" name="ProjectExpenses" type="tns:ArrayOfProjectExpens" />
          <s:element minOccurs="0" maxOccurs="1" name="ProjectProfiles" type="tns:ArrayOfProjectProfile" />
          <s:element minOccurs="0" maxOccurs="1" name="ProjectSubActivities" type="tns:ArrayOfProjectSubActivity" />
          <s:element minOccurs="0" maxOccurs="1" name="Thefinanciers" type="tns:ArrayOfThefinancier" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfTransaction">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Transaction" nillable="true" type="tns:Transaction" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Transaction">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DateOfTransaction" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalIn" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalOut" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CommandNames" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Account_ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Account" type="tns:Account" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfProjectActivity">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ProjectActivity" nillable="true" type="tns:ProjectActivity" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ProjectActivity">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ActivityName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="StartDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="EndDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Progress" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalCost" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="ProjectProfile_ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Account_ID" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Account" type="tns:Account" />
          <s:element minOccurs="0" maxOccurs="1" name="ProjectSubActivities" type="tns:ArrayOfProjectSubActivity" />
          <s:element minOccurs="0" maxOccurs="1" name="ProjectProfile" type="tns:ProjectProfile" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfProjectSubActivity">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ProjectSubActivity" nillable="true" type="tns:ProjectSubActivity" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ProjectSubActivity">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SubActivityName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Startdate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="enddate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Persentage" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalCost" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="ProjectActivity_ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Account_ID" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Account" type="tns:Account" />
          <s:element minOccurs="0" maxOccurs="1" name="ProjectActivity" type="tns:ProjectActivity" />
          <s:element minOccurs="0" maxOccurs="1" name="ProjectExpenses" type="tns:ArrayOfProjectExpens" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfProjectExpens">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ProjectExpens" nillable="true" type="tns:ProjectExpens" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ProjectExpens">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ExpensesName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DateofProcess" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="BillNumber" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="RequiarAmount" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="CashingNumber" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ProjectSubActivity_ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Account_ID" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Supplier_ID" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Account" type="tns:Account" />
          <s:element minOccurs="0" maxOccurs="1" name="ProjectSubActivity" type="tns:ProjectSubActivity" />
          <s:element minOccurs="0" maxOccurs="1" name="Supplier" type="tns:Supplier" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Supplier">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PhoneNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SuppliersNatural" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Fax" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Adderss" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProjectExpenses" type="tns:ArrayOfProjectExpens" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ProjectProfile">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ProjectName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProjectDescription" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="StartDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="EndDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="progress" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalCost" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="AccountID" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Account" type="tns:Account" />
          <s:element minOccurs="0" maxOccurs="1" name="Attachments" type="tns:ArrayOfAttachment" />
          <s:element minOccurs="0" maxOccurs="1" name="Contracts" type="tns:ArrayOfContract" />
          <s:element minOccurs="0" maxOccurs="1" name="ProjectActivities" type="tns:ArrayOfProjectActivity" />
          <s:element minOccurs="0" maxOccurs="1" name="ProjectOrders" type="tns:ArrayOfProjectOrder" />
          <s:element minOccurs="0" maxOccurs="1" name="SubTheFinancerAndProjects" type="tns:ArrayOfSubTheFinancerAndProject" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAttachment">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Attachment" nillable="true" type="tns:Attachment" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Attachment">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="AttachmentName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CreateDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="fileContent" type="s:base64Binary" />
          <s:element minOccurs="1" maxOccurs="1" name="ProjectProfile_ID" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ProjectOrder_ID" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ProjectOrder" type="tns:ProjectOrder" />
          <s:element minOccurs="0" maxOccurs="1" name="ProjectProfile" type="tns:ProjectProfile" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ProjectOrder">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="OrderTitle" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OrderBody" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="OrderDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ProjectProfile_ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Attachments" type="tns:ArrayOfAttachment" />
          <s:element minOccurs="0" maxOccurs="1" name="ProjectProfile" type="tns:ProjectProfile" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfContract">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Contract" nillable="true" type="tns:Contract" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Contract">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="StartDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="EndDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="SelaryAmount" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="EmplyeeAccount_ID" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Employee_ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ProjectProfile_ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="UserID" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="UserSystem" type="tns:UserSystem" />
          <s:element minOccurs="0" maxOccurs="1" name="Employee" type="tns:Employee" />
          <s:element minOccurs="0" maxOccurs="1" name="ProjectProfile" type="tns:ProjectProfile" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="UserSystem">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="UserGroup_Id" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Contracts" type="tns:ArrayOfContract" />
          <s:element minOccurs="0" maxOccurs="1" name="UserGroup" type="tns:UserGroup" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="UserGroup">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="GroupName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GroupDescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GroupPermessions" type="tns:ArrayOfGroupPermession" />
          <s:element minOccurs="0" maxOccurs="1" name="UserSystems" type="tns:ArrayOfUserSystem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfGroupPermession">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="GroupPermession" nillable="true" type="tns:GroupPermession" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="GroupPermession">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="permessionValue" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="SystemPermession_Id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="UserGroup_Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SystemPermession" type="tns:SystemPermession" />
          <s:element minOccurs="0" maxOccurs="1" name="UserGroup" type="tns:UserGroup" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SystemPermession">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="PermessionName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PropertyName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GroupPermessions" type="tns:ArrayOfGroupPermession" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfUserSystem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="UserSystem" nillable="true" type="tns:UserSystem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Employee">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="EmployeeName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EmployeejobNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EmployeeGender" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EmployeeNationalNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PhoneNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Mobilenumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Contracts" type="tns:ArrayOfContract" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfProjectOrder">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ProjectOrder" nillable="true" type="tns:ProjectOrder" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfSubTheFinancerAndProject">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SubTheFinancerAndProject" nillable="true" type="tns:SubTheFinancerAndProject" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SubTheFinancerAndProject">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ProjectID" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="FinacerID" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ProjectProfile" type="tns:ProjectProfile" />
          <s:element minOccurs="0" maxOccurs="1" name="Thefinancier" type="tns:Thefinancier" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Thefinancier">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="financiername" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PhoneNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="agentName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Fax" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Adderss" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="AccountID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Account" type="tns:Account" />
          <s:element minOccurs="0" maxOccurs="1" name="SubTheFinancerAndProjects" type="tns:ArrayOfSubTheFinancerAndProject" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfProjectProfile">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ProjectProfile" nillable="true" type="tns:ProjectProfile" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfThefinancier">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Thefinancier" nillable="true" type="tns:Thefinancier" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetAllGroup">
        <s:complexType />
      </s:element>
      <s:element name="GetAllGroupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllGroupResult" type="tns:ArrayOfUserGroup" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfUserGroup">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="UserGroup" nillable="true" type="tns:UserGroup" />
        </s:sequence>
      </s:complexType>
      <s:element name="getallsup">
        <s:complexType />
      </s:element>
      <s:element name="getallsupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getallsupResult" type="tns:ArrayOfSupplier" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSupplier">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Supplier" nillable="true" type="tns:Supplier" />
        </s:sequence>
      </s:complexType>
      <s:element name="GroupAdd">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="g" type="tns:UserGroup" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GroupAddResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GroupAddResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GroupEdit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="g" type="tns:UserGroup" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GroupEditResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GroupEditResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GroupDelete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GroupDeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GroupDeleteResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GroupGetAll">
        <s:complexType />
      </s:element>
      <s:element name="GroupGetAllResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GroupGetAllResult" type="tns:ArrayOfUserGroup" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserAdd">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="u" type="tns:UserSystem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserAddResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UserAddResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserEdit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="u" type="tns:UserSystem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserEditResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UserEditResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserDelete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserDeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UserDeleteResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserGetAll">
        <s:complexType />
      </s:element>
      <s:element name="UserGetAllResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserGetAllResult" type="tns:ArrayOfUserSystem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EmployeeAdd">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="em" type="tns:Employee" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EmployeeAddResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EmployeeAddResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EmployeeEdit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="em" type="tns:Employee" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EmployeeEditResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EmployeeEditResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EmployeeDelete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EmployeeDeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EmployeeDeleteResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EmployeeGetAll">
        <s:complexType />
      </s:element>
      <s:element name="EmployeeGetAllResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EmployeeGetAllResult" type="tns:ArrayOfEmployee" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfEmployee">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Employee" nillable="true" type="tns:Employee" />
        </s:sequence>
      </s:complexType>
      <s:element name="SupplierAdd">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sp" type="tns:Supplier" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SupplierAddResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SupplierAddResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SupplierEdit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sp" type="tns:Supplier" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SupplierEditResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SupplierEditResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SupplierDelete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SupplierDeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SupplierDeleteResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SupplierGetAll">
        <s:complexType />
      </s:element>
      <s:element name="SupplierGetAllResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SupplierGetAllResult" type="tns:ArrayOfSupplier" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="financierAdd">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fc" type="tns:Thefinancier" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="financierAddResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="financierAddResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="financierEdit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fc" type="tns:Thefinancier" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="financierEditResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="financierEditResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="financierDelete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="financierDeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="financierDeleteResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="financierGetAll">
        <s:complexType />
      </s:element>
      <s:element name="financierGetAllResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="financierGetAllResult" type="tns:ArrayOfThefinancier" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProjectProfileAdd">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Pro" type="tns:ProjectProfile" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProjectProfileAddResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ProjectProfileAddResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProjectProfileEdit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Pro" type="tns:ProjectProfile" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProjectProfileEditResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ProjectProfileEditResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProjectProfileDelete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProjectProfileDeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ProjectProfileDeleteResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProjectProfileGetAll">
        <s:complexType />
      </s:element>
      <s:element name="ProjectProfileGetAllResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProjectProfileGetAllResult" type="tns:ArrayOfProjectProfile" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubTheFinancerAndProjectCommandAdd">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sb" type="tns:SubTheFinancerAndProject" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubTheFinancerAndProjectCommandAddResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SubTheFinancerAndProjectCommandAddResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubTheFinancerAndProjectEdit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Pro" type="tns:SubTheFinancerAndProject" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubTheFinancerAndProjectEditResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SubTheFinancerAndProjectEditResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubTheFinancerAndProjecDelete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubTheFinancerAndProjecDeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SubTheFinancerAndProjecDeleteResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubTheFinancerAndProjectGetAll">
        <s:complexType />
      </s:element>
      <s:element name="SubTheFinancerAndProjectGetAllResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SubTheFinancerAndProjectGetAllResult" type="tns:ArrayOfSubTheFinancerAndProject" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ContractAdd">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Cont" type="tns:Contract" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ContractAddResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ContractAddResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ContractEdit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Cont" type="tns:Contract" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ContractEditResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ContractEditResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ContractDelete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ContractDeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ContractDeleteResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ContractGetAll">
        <s:complexType />
      </s:element>
      <s:element name="ContractGetAllResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ContractGetAllResult" type="tns:ArrayOfContract" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActivityAdd">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Activ" type="tns:ProjectActivity" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActivityAddResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ActivityAddResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActivityEdit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Activ" type="tns:ProjectActivity" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActivityEditResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ActivityEditResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActivityDelete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActivityDeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ActivityDeleteResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActivityGetAll">
        <s:complexType />
      </s:element>
      <s:element name="ActivityGetAllResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ActivityGetAllResult" type="tns:ArrayOfProjectActivity" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="subActivityAdd">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SActiv" type="tns:ProjectSubActivity" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="subActivityAddResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="subActivityAddResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="subActivityEdit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SActiv" type="tns:ProjectSubActivity" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="subActivityEditResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="subActivityEditResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="subActivityDelete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="subActivityDeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="subActivityDeleteResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="subActivityGetAll">
        <s:complexType />
      </s:element>
      <s:element name="subActivityGetAllResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="subActivityGetAllResult" type="tns:ArrayOfProjectSubActivity" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="getAccountsSoapIn">
    <wsdl:part name="parameters" element="tns:getAccounts" />
  </wsdl:message>
  <wsdl:message name="getAccountsSoapOut">
    <wsdl:part name="parameters" element="tns:getAccountsResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllGroupSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllGroup" />
  </wsdl:message>
  <wsdl:message name="GetAllGroupSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllGroupResponse" />
  </wsdl:message>
  <wsdl:message name="getallsupSoapIn">
    <wsdl:part name="parameters" element="tns:getallsup" />
  </wsdl:message>
  <wsdl:message name="getallsupSoapOut">
    <wsdl:part name="parameters" element="tns:getallsupResponse" />
  </wsdl:message>
  <wsdl:message name="GroupAddSoapIn">
    <wsdl:part name="parameters" element="tns:GroupAdd" />
  </wsdl:message>
  <wsdl:message name="GroupAddSoapOut">
    <wsdl:part name="parameters" element="tns:GroupAddResponse" />
  </wsdl:message>
  <wsdl:message name="GroupEditSoapIn">
    <wsdl:part name="parameters" element="tns:GroupEdit" />
  </wsdl:message>
  <wsdl:message name="GroupEditSoapOut">
    <wsdl:part name="parameters" element="tns:GroupEditResponse" />
  </wsdl:message>
  <wsdl:message name="GroupDeleteSoapIn">
    <wsdl:part name="parameters" element="tns:GroupDelete" />
  </wsdl:message>
  <wsdl:message name="GroupDeleteSoapOut">
    <wsdl:part name="parameters" element="tns:GroupDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="GroupGetAllSoapIn">
    <wsdl:part name="parameters" element="tns:GroupGetAll" />
  </wsdl:message>
  <wsdl:message name="GroupGetAllSoapOut">
    <wsdl:part name="parameters" element="tns:GroupGetAllResponse" />
  </wsdl:message>
  <wsdl:message name="UserAddSoapIn">
    <wsdl:part name="parameters" element="tns:UserAdd" />
  </wsdl:message>
  <wsdl:message name="UserAddSoapOut">
    <wsdl:part name="parameters" element="tns:UserAddResponse" />
  </wsdl:message>
  <wsdl:message name="UserEditSoapIn">
    <wsdl:part name="parameters" element="tns:UserEdit" />
  </wsdl:message>
  <wsdl:message name="UserEditSoapOut">
    <wsdl:part name="parameters" element="tns:UserEditResponse" />
  </wsdl:message>
  <wsdl:message name="UserDeleteSoapIn">
    <wsdl:part name="parameters" element="tns:UserDelete" />
  </wsdl:message>
  <wsdl:message name="UserDeleteSoapOut">
    <wsdl:part name="parameters" element="tns:UserDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="UserGetAllSoapIn">
    <wsdl:part name="parameters" element="tns:UserGetAll" />
  </wsdl:message>
  <wsdl:message name="UserGetAllSoapOut">
    <wsdl:part name="parameters" element="tns:UserGetAllResponse" />
  </wsdl:message>
  <wsdl:message name="EmployeeAddSoapIn">
    <wsdl:part name="parameters" element="tns:EmployeeAdd" />
  </wsdl:message>
  <wsdl:message name="EmployeeAddSoapOut">
    <wsdl:part name="parameters" element="tns:EmployeeAddResponse" />
  </wsdl:message>
  <wsdl:message name="EmployeeEditSoapIn">
    <wsdl:part name="parameters" element="tns:EmployeeEdit" />
  </wsdl:message>
  <wsdl:message name="EmployeeEditSoapOut">
    <wsdl:part name="parameters" element="tns:EmployeeEditResponse" />
  </wsdl:message>
  <wsdl:message name="EmployeeDeleteSoapIn">
    <wsdl:part name="parameters" element="tns:EmployeeDelete" />
  </wsdl:message>
  <wsdl:message name="EmployeeDeleteSoapOut">
    <wsdl:part name="parameters" element="tns:EmployeeDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="EmployeeGetAllSoapIn">
    <wsdl:part name="parameters" element="tns:EmployeeGetAll" />
  </wsdl:message>
  <wsdl:message name="EmployeeGetAllSoapOut">
    <wsdl:part name="parameters" element="tns:EmployeeGetAllResponse" />
  </wsdl:message>
  <wsdl:message name="SupplierAddSoapIn">
    <wsdl:part name="parameters" element="tns:SupplierAdd" />
  </wsdl:message>
  <wsdl:message name="SupplierAddSoapOut">
    <wsdl:part name="parameters" element="tns:SupplierAddResponse" />
  </wsdl:message>
  <wsdl:message name="SupplierEditSoapIn">
    <wsdl:part name="parameters" element="tns:SupplierEdit" />
  </wsdl:message>
  <wsdl:message name="SupplierEditSoapOut">
    <wsdl:part name="parameters" element="tns:SupplierEditResponse" />
  </wsdl:message>
  <wsdl:message name="SupplierDeleteSoapIn">
    <wsdl:part name="parameters" element="tns:SupplierDelete" />
  </wsdl:message>
  <wsdl:message name="SupplierDeleteSoapOut">
    <wsdl:part name="parameters" element="tns:SupplierDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="SupplierGetAllSoapIn">
    <wsdl:part name="parameters" element="tns:SupplierGetAll" />
  </wsdl:message>
  <wsdl:message name="SupplierGetAllSoapOut">
    <wsdl:part name="parameters" element="tns:SupplierGetAllResponse" />
  </wsdl:message>
  <wsdl:message name="financierAddSoapIn">
    <wsdl:part name="parameters" element="tns:financierAdd" />
  </wsdl:message>
  <wsdl:message name="financierAddSoapOut">
    <wsdl:part name="parameters" element="tns:financierAddResponse" />
  </wsdl:message>
  <wsdl:message name="financierEditSoapIn">
    <wsdl:part name="parameters" element="tns:financierEdit" />
  </wsdl:message>
  <wsdl:message name="financierEditSoapOut">
    <wsdl:part name="parameters" element="tns:financierEditResponse" />
  </wsdl:message>
  <wsdl:message name="financierDeleteSoapIn">
    <wsdl:part name="parameters" element="tns:financierDelete" />
  </wsdl:message>
  <wsdl:message name="financierDeleteSoapOut">
    <wsdl:part name="parameters" element="tns:financierDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="financierGetAllSoapIn">
    <wsdl:part name="parameters" element="tns:financierGetAll" />
  </wsdl:message>
  <wsdl:message name="financierGetAllSoapOut">
    <wsdl:part name="parameters" element="tns:financierGetAllResponse" />
  </wsdl:message>
  <wsdl:message name="ProjectProfileAddSoapIn">
    <wsdl:part name="parameters" element="tns:ProjectProfileAdd" />
  </wsdl:message>
  <wsdl:message name="ProjectProfileAddSoapOut">
    <wsdl:part name="parameters" element="tns:ProjectProfileAddResponse" />
  </wsdl:message>
  <wsdl:message name="ProjectProfileEditSoapIn">
    <wsdl:part name="parameters" element="tns:ProjectProfileEdit" />
  </wsdl:message>
  <wsdl:message name="ProjectProfileEditSoapOut">
    <wsdl:part name="parameters" element="tns:ProjectProfileEditResponse" />
  </wsdl:message>
  <wsdl:message name="ProjectProfileDeleteSoapIn">
    <wsdl:part name="parameters" element="tns:ProjectProfileDelete" />
  </wsdl:message>
  <wsdl:message name="ProjectProfileDeleteSoapOut">
    <wsdl:part name="parameters" element="tns:ProjectProfileDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="ProjectProfileGetAllSoapIn">
    <wsdl:part name="parameters" element="tns:ProjectProfileGetAll" />
  </wsdl:message>
  <wsdl:message name="ProjectProfileGetAllSoapOut">
    <wsdl:part name="parameters" element="tns:ProjectProfileGetAllResponse" />
  </wsdl:message>
  <wsdl:message name="SubTheFinancerAndProjectCommandAddSoapIn">
    <wsdl:part name="parameters" element="tns:SubTheFinancerAndProjectCommandAdd" />
  </wsdl:message>
  <wsdl:message name="SubTheFinancerAndProjectCommandAddSoapOut">
    <wsdl:part name="parameters" element="tns:SubTheFinancerAndProjectCommandAddResponse" />
  </wsdl:message>
  <wsdl:message name="SubTheFinancerAndProjectEditSoapIn">
    <wsdl:part name="parameters" element="tns:SubTheFinancerAndProjectEdit" />
  </wsdl:message>
  <wsdl:message name="SubTheFinancerAndProjectEditSoapOut">
    <wsdl:part name="parameters" element="tns:SubTheFinancerAndProjectEditResponse" />
  </wsdl:message>
  <wsdl:message name="SubTheFinancerAndProjecDeleteSoapIn">
    <wsdl:part name="parameters" element="tns:SubTheFinancerAndProjecDelete" />
  </wsdl:message>
  <wsdl:message name="SubTheFinancerAndProjecDeleteSoapOut">
    <wsdl:part name="parameters" element="tns:SubTheFinancerAndProjecDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="SubTheFinancerAndProjectGetAllSoapIn">
    <wsdl:part name="parameters" element="tns:SubTheFinancerAndProjectGetAll" />
  </wsdl:message>
  <wsdl:message name="SubTheFinancerAndProjectGetAllSoapOut">
    <wsdl:part name="parameters" element="tns:SubTheFinancerAndProjectGetAllResponse" />
  </wsdl:message>
  <wsdl:message name="ContractAddSoapIn">
    <wsdl:part name="parameters" element="tns:ContractAdd" />
  </wsdl:message>
  <wsdl:message name="ContractAddSoapOut">
    <wsdl:part name="parameters" element="tns:ContractAddResponse" />
  </wsdl:message>
  <wsdl:message name="ContractEditSoapIn">
    <wsdl:part name="parameters" element="tns:ContractEdit" />
  </wsdl:message>
  <wsdl:message name="ContractEditSoapOut">
    <wsdl:part name="parameters" element="tns:ContractEditResponse" />
  </wsdl:message>
  <wsdl:message name="ContractDeleteSoapIn">
    <wsdl:part name="parameters" element="tns:ContractDelete" />
  </wsdl:message>
  <wsdl:message name="ContractDeleteSoapOut">
    <wsdl:part name="parameters" element="tns:ContractDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="ContractGetAllSoapIn">
    <wsdl:part name="parameters" element="tns:ContractGetAll" />
  </wsdl:message>
  <wsdl:message name="ContractGetAllSoapOut">
    <wsdl:part name="parameters" element="tns:ContractGetAllResponse" />
  </wsdl:message>
  <wsdl:message name="ActivityAddSoapIn">
    <wsdl:part name="parameters" element="tns:ActivityAdd" />
  </wsdl:message>
  <wsdl:message name="ActivityAddSoapOut">
    <wsdl:part name="parameters" element="tns:ActivityAddResponse" />
  </wsdl:message>
  <wsdl:message name="ActivityEditSoapIn">
    <wsdl:part name="parameters" element="tns:ActivityEdit" />
  </wsdl:message>
  <wsdl:message name="ActivityEditSoapOut">
    <wsdl:part name="parameters" element="tns:ActivityEditResponse" />
  </wsdl:message>
  <wsdl:message name="ActivityDeleteSoapIn">
    <wsdl:part name="parameters" element="tns:ActivityDelete" />
  </wsdl:message>
  <wsdl:message name="ActivityDeleteSoapOut">
    <wsdl:part name="parameters" element="tns:ActivityDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="ActivityGetAllSoapIn">
    <wsdl:part name="parameters" element="tns:ActivityGetAll" />
  </wsdl:message>
  <wsdl:message name="ActivityGetAllSoapOut">
    <wsdl:part name="parameters" element="tns:ActivityGetAllResponse" />
  </wsdl:message>
  <wsdl:message name="subActivityAddSoapIn">
    <wsdl:part name="parameters" element="tns:subActivityAdd" />
  </wsdl:message>
  <wsdl:message name="subActivityAddSoapOut">
    <wsdl:part name="parameters" element="tns:subActivityAddResponse" />
  </wsdl:message>
  <wsdl:message name="subActivityEditSoapIn">
    <wsdl:part name="parameters" element="tns:subActivityEdit" />
  </wsdl:message>
  <wsdl:message name="subActivityEditSoapOut">
    <wsdl:part name="parameters" element="tns:subActivityEditResponse" />
  </wsdl:message>
  <wsdl:message name="subActivityDeleteSoapIn">
    <wsdl:part name="parameters" element="tns:subActivityDelete" />
  </wsdl:message>
  <wsdl:message name="subActivityDeleteSoapOut">
    <wsdl:part name="parameters" element="tns:subActivityDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="subActivityGetAllSoapIn">
    <wsdl:part name="parameters" element="tns:subActivityGetAll" />
  </wsdl:message>
  <wsdl:message name="subActivityGetAllSoapOut">
    <wsdl:part name="parameters" element="tns:subActivityGetAllResponse" />
  </wsdl:message>
  <wsdl:portType name="XpremaConnectorSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAccounts">
      <wsdl:input message="tns:getAccountsSoapIn" />
      <wsdl:output message="tns:getAccountsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllGroup">
      <wsdl:input message="tns:GetAllGroupSoapIn" />
      <wsdl:output message="tns:GetAllGroupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getallsup">
      <wsdl:input message="tns:getallsupSoapIn" />
      <wsdl:output message="tns:getallsupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GroupAdd">
      <wsdl:input message="tns:GroupAddSoapIn" />
      <wsdl:output message="tns:GroupAddSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GroupEdit">
      <wsdl:input message="tns:GroupEditSoapIn" />
      <wsdl:output message="tns:GroupEditSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GroupDelete">
      <wsdl:input message="tns:GroupDeleteSoapIn" />
      <wsdl:output message="tns:GroupDeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GroupGetAll">
      <wsdl:input message="tns:GroupGetAllSoapIn" />
      <wsdl:output message="tns:GroupGetAllSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserAdd">
      <wsdl:input message="tns:UserAddSoapIn" />
      <wsdl:output message="tns:UserAddSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserEdit">
      <wsdl:input message="tns:UserEditSoapIn" />
      <wsdl:output message="tns:UserEditSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserDelete">
      <wsdl:input message="tns:UserDeleteSoapIn" />
      <wsdl:output message="tns:UserDeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserGetAll">
      <wsdl:input message="tns:UserGetAllSoapIn" />
      <wsdl:output message="tns:UserGetAllSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EmployeeAdd">
      <wsdl:input message="tns:EmployeeAddSoapIn" />
      <wsdl:output message="tns:EmployeeAddSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EmployeeEdit">
      <wsdl:input message="tns:EmployeeEditSoapIn" />
      <wsdl:output message="tns:EmployeeEditSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EmployeeDelete">
      <wsdl:input message="tns:EmployeeDeleteSoapIn" />
      <wsdl:output message="tns:EmployeeDeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EmployeeGetAll">
      <wsdl:input message="tns:EmployeeGetAllSoapIn" />
      <wsdl:output message="tns:EmployeeGetAllSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SupplierAdd">
      <wsdl:input message="tns:SupplierAddSoapIn" />
      <wsdl:output message="tns:SupplierAddSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SupplierEdit">
      <wsdl:input message="tns:SupplierEditSoapIn" />
      <wsdl:output message="tns:SupplierEditSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SupplierDelete">
      <wsdl:input message="tns:SupplierDeleteSoapIn" />
      <wsdl:output message="tns:SupplierDeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SupplierGetAll">
      <wsdl:input message="tns:SupplierGetAllSoapIn" />
      <wsdl:output message="tns:SupplierGetAllSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="financierAdd">
      <wsdl:input message="tns:financierAddSoapIn" />
      <wsdl:output message="tns:financierAddSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="financierEdit">
      <wsdl:input message="tns:financierEditSoapIn" />
      <wsdl:output message="tns:financierEditSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="financierDelete">
      <wsdl:input message="tns:financierDeleteSoapIn" />
      <wsdl:output message="tns:financierDeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="financierGetAll">
      <wsdl:input message="tns:financierGetAllSoapIn" />
      <wsdl:output message="tns:financierGetAllSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ProjectProfileAdd">
      <wsdl:input message="tns:ProjectProfileAddSoapIn" />
      <wsdl:output message="tns:ProjectProfileAddSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ProjectProfileEdit">
      <wsdl:input message="tns:ProjectProfileEditSoapIn" />
      <wsdl:output message="tns:ProjectProfileEditSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ProjectProfileDelete">
      <wsdl:input message="tns:ProjectProfileDeleteSoapIn" />
      <wsdl:output message="tns:ProjectProfileDeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ProjectProfileGetAll">
      <wsdl:input message="tns:ProjectProfileGetAllSoapIn" />
      <wsdl:output message="tns:ProjectProfileGetAllSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SubTheFinancerAndProjectCommandAdd">
      <wsdl:input message="tns:SubTheFinancerAndProjectCommandAddSoapIn" />
      <wsdl:output message="tns:SubTheFinancerAndProjectCommandAddSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SubTheFinancerAndProjectEdit">
      <wsdl:input message="tns:SubTheFinancerAndProjectEditSoapIn" />
      <wsdl:output message="tns:SubTheFinancerAndProjectEditSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SubTheFinancerAndProjecDelete">
      <wsdl:input message="tns:SubTheFinancerAndProjecDeleteSoapIn" />
      <wsdl:output message="tns:SubTheFinancerAndProjecDeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SubTheFinancerAndProjectGetAll">
      <wsdl:input message="tns:SubTheFinancerAndProjectGetAllSoapIn" />
      <wsdl:output message="tns:SubTheFinancerAndProjectGetAllSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ContractAdd">
      <wsdl:input message="tns:ContractAddSoapIn" />
      <wsdl:output message="tns:ContractAddSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ContractEdit">
      <wsdl:input message="tns:ContractEditSoapIn" />
      <wsdl:output message="tns:ContractEditSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ContractDelete">
      <wsdl:input message="tns:ContractDeleteSoapIn" />
      <wsdl:output message="tns:ContractDeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ContractGetAll">
      <wsdl:input message="tns:ContractGetAllSoapIn" />
      <wsdl:output message="tns:ContractGetAllSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ActivityAdd">
      <wsdl:input message="tns:ActivityAddSoapIn" />
      <wsdl:output message="tns:ActivityAddSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ActivityEdit">
      <wsdl:input message="tns:ActivityEditSoapIn" />
      <wsdl:output message="tns:ActivityEditSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ActivityDelete">
      <wsdl:input message="tns:ActivityDeleteSoapIn" />
      <wsdl:output message="tns:ActivityDeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ActivityGetAll">
      <wsdl:input message="tns:ActivityGetAllSoapIn" />
      <wsdl:output message="tns:ActivityGetAllSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="subActivityAdd">
      <wsdl:input message="tns:subActivityAddSoapIn" />
      <wsdl:output message="tns:subActivityAddSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="subActivityEdit">
      <wsdl:input message="tns:subActivityEditSoapIn" />
      <wsdl:output message="tns:subActivityEditSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="subActivityDelete">
      <wsdl:input message="tns:subActivityDeleteSoapIn" />
      <wsdl:output message="tns:subActivityDeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="subActivityGetAll">
      <wsdl:input message="tns:subActivityGetAllSoapIn" />
      <wsdl:output message="tns:subActivityGetAllSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="XpremaConnectorSoap" type="tns:XpremaConnectorSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="Xpro.xprema.net/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAccounts">
      <soap:operation soapAction="Xpro.xprema.net/getAccounts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllGroup">
      <soap:operation soapAction="Xpro.xprema.net/GetAllGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getallsup">
      <soap:operation soapAction="Xpro.xprema.net/getallsup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GroupAdd">
      <soap:operation soapAction="Xpro.xprema.net/GroupAdd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GroupEdit">
      <soap:operation soapAction="Xpro.xprema.net/GroupEdit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GroupDelete">
      <soap:operation soapAction="Xpro.xprema.net/GroupDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GroupGetAll">
      <soap:operation soapAction="Xpro.xprema.net/GroupGetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserAdd">
      <soap:operation soapAction="Xpro.xprema.net/UserAdd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserEdit">
      <soap:operation soapAction="Xpro.xprema.net/UserEdit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserDelete">
      <soap:operation soapAction="Xpro.xprema.net/UserDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserGetAll">
      <soap:operation soapAction="Xpro.xprema.net/UserGetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmployeeAdd">
      <soap:operation soapAction="Xpro.xprema.net/EmployeeAdd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmployeeEdit">
      <soap:operation soapAction="Xpro.xprema.net/EmployeeEdit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmployeeDelete">
      <soap:operation soapAction="Xpro.xprema.net/EmployeeDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmployeeGetAll">
      <soap:operation soapAction="Xpro.xprema.net/EmployeeGetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SupplierAdd">
      <soap:operation soapAction="Xpro.xprema.net/SupplierAdd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SupplierEdit">
      <soap:operation soapAction="Xpro.xprema.net/SupplierEdit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SupplierDelete">
      <soap:operation soapAction="Xpro.xprema.net/SupplierDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SupplierGetAll">
      <soap:operation soapAction="Xpro.xprema.net/SupplierGetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="financierAdd">
      <soap:operation soapAction="Xpro.xprema.net/financierAdd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="financierEdit">
      <soap:operation soapAction="Xpro.xprema.net/financierEdit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="financierDelete">
      <soap:operation soapAction="Xpro.xprema.net/financierDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="financierGetAll">
      <soap:operation soapAction="Xpro.xprema.net/financierGetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProjectProfileAdd">
      <soap:operation soapAction="Xpro.xprema.net/ProjectProfileAdd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProjectProfileEdit">
      <soap:operation soapAction="Xpro.xprema.net/ProjectProfileEdit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProjectProfileDelete">
      <soap:operation soapAction="Xpro.xprema.net/ProjectProfileDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProjectProfileGetAll">
      <soap:operation soapAction="Xpro.xprema.net/ProjectProfileGetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubTheFinancerAndProjectCommandAdd">
      <soap:operation soapAction="Xpro.xprema.net/SubTheFinancerAndProjectCommandAdd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubTheFinancerAndProjectEdit">
      <soap:operation soapAction="Xpro.xprema.net/SubTheFinancerAndProjectEdit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubTheFinancerAndProjecDelete">
      <soap:operation soapAction="Xpro.xprema.net/SubTheFinancerAndProjecDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubTheFinancerAndProjectGetAll">
      <soap:operation soapAction="Xpro.xprema.net/SubTheFinancerAndProjectGetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ContractAdd">
      <soap:operation soapAction="Xpro.xprema.net/ContractAdd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ContractEdit">
      <soap:operation soapAction="Xpro.xprema.net/ContractEdit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ContractDelete">
      <soap:operation soapAction="Xpro.xprema.net/ContractDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ContractGetAll">
      <soap:operation soapAction="Xpro.xprema.net/ContractGetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActivityAdd">
      <soap:operation soapAction="Xpro.xprema.net/ActivityAdd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActivityEdit">
      <soap:operation soapAction="Xpro.xprema.net/ActivityEdit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActivityDelete">
      <soap:operation soapAction="Xpro.xprema.net/ActivityDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActivityGetAll">
      <soap:operation soapAction="Xpro.xprema.net/ActivityGetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="subActivityAdd">
      <soap:operation soapAction="Xpro.xprema.net/subActivityAdd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="subActivityEdit">
      <soap:operation soapAction="Xpro.xprema.net/subActivityEdit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="subActivityDelete">
      <soap:operation soapAction="Xpro.xprema.net/subActivityDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="subActivityGetAll">
      <soap:operation soapAction="Xpro.xprema.net/subActivityGetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="XpremaConnectorSoap12" type="tns:XpremaConnectorSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="Xpro.xprema.net/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAccounts">
      <soap12:operation soapAction="Xpro.xprema.net/getAccounts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllGroup">
      <soap12:operation soapAction="Xpro.xprema.net/GetAllGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getallsup">
      <soap12:operation soapAction="Xpro.xprema.net/getallsup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GroupAdd">
      <soap12:operation soapAction="Xpro.xprema.net/GroupAdd" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GroupEdit">
      <soap12:operation soapAction="Xpro.xprema.net/GroupEdit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GroupDelete">
      <soap12:operation soapAction="Xpro.xprema.net/GroupDelete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GroupGetAll">
      <soap12:operation soapAction="Xpro.xprema.net/GroupGetAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserAdd">
      <soap12:operation soapAction="Xpro.xprema.net/UserAdd" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserEdit">
      <soap12:operation soapAction="Xpro.xprema.net/UserEdit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserDelete">
      <soap12:operation soapAction="Xpro.xprema.net/UserDelete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserGetAll">
      <soap12:operation soapAction="Xpro.xprema.net/UserGetAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmployeeAdd">
      <soap12:operation soapAction="Xpro.xprema.net/EmployeeAdd" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmployeeEdit">
      <soap12:operation soapAction="Xpro.xprema.net/EmployeeEdit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmployeeDelete">
      <soap12:operation soapAction="Xpro.xprema.net/EmployeeDelete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmployeeGetAll">
      <soap12:operation soapAction="Xpro.xprema.net/EmployeeGetAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SupplierAdd">
      <soap12:operation soapAction="Xpro.xprema.net/SupplierAdd" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SupplierEdit">
      <soap12:operation soapAction="Xpro.xprema.net/SupplierEdit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SupplierDelete">
      <soap12:operation soapAction="Xpro.xprema.net/SupplierDelete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SupplierGetAll">
      <soap12:operation soapAction="Xpro.xprema.net/SupplierGetAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="financierAdd">
      <soap12:operation soapAction="Xpro.xprema.net/financierAdd" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="financierEdit">
      <soap12:operation soapAction="Xpro.xprema.net/financierEdit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="financierDelete">
      <soap12:operation soapAction="Xpro.xprema.net/financierDelete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="financierGetAll">
      <soap12:operation soapAction="Xpro.xprema.net/financierGetAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProjectProfileAdd">
      <soap12:operation soapAction="Xpro.xprema.net/ProjectProfileAdd" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProjectProfileEdit">
      <soap12:operation soapAction="Xpro.xprema.net/ProjectProfileEdit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProjectProfileDelete">
      <soap12:operation soapAction="Xpro.xprema.net/ProjectProfileDelete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProjectProfileGetAll">
      <soap12:operation soapAction="Xpro.xprema.net/ProjectProfileGetAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubTheFinancerAndProjectCommandAdd">
      <soap12:operation soapAction="Xpro.xprema.net/SubTheFinancerAndProjectCommandAdd" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubTheFinancerAndProjectEdit">
      <soap12:operation soapAction="Xpro.xprema.net/SubTheFinancerAndProjectEdit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubTheFinancerAndProjecDelete">
      <soap12:operation soapAction="Xpro.xprema.net/SubTheFinancerAndProjecDelete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubTheFinancerAndProjectGetAll">
      <soap12:operation soapAction="Xpro.xprema.net/SubTheFinancerAndProjectGetAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ContractAdd">
      <soap12:operation soapAction="Xpro.xprema.net/ContractAdd" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ContractEdit">
      <soap12:operation soapAction="Xpro.xprema.net/ContractEdit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ContractDelete">
      <soap12:operation soapAction="Xpro.xprema.net/ContractDelete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ContractGetAll">
      <soap12:operation soapAction="Xpro.xprema.net/ContractGetAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActivityAdd">
      <soap12:operation soapAction="Xpro.xprema.net/ActivityAdd" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActivityEdit">
      <soap12:operation soapAction="Xpro.xprema.net/ActivityEdit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActivityDelete">
      <soap12:operation soapAction="Xpro.xprema.net/ActivityDelete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActivityGetAll">
      <soap12:operation soapAction="Xpro.xprema.net/ActivityGetAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="subActivityAdd">
      <soap12:operation soapAction="Xpro.xprema.net/subActivityAdd" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="subActivityEdit">
      <soap12:operation soapAction="Xpro.xprema.net/subActivityEdit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="subActivityDelete">
      <soap12:operation soapAction="Xpro.xprema.net/subActivityDelete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="subActivityGetAll">
      <soap12:operation soapAction="Xpro.xprema.net/subActivityGetAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="XpremaConnector">
    <wsdl:port name="XpremaConnectorSoap" binding="tns:XpremaConnectorSoap">
      <soap:address location="http://localhost:16213/XpremaConnector.asmx" />
    </wsdl:port>
    <wsdl:port name="XpremaConnectorSoap12" binding="tns:XpremaConnectorSoap12">
      <soap12:address location="http://localhost:16213/XpremaConnector.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>